<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartAir">

        <!-- LOGIN (Launcher) -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- REGISTER -->
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />

        <!-- HOMEPAGE (after login) -->
        <activity
            android:name=".HomepageActivity"
            android:exported="true" />

        <!-- CHILD MANAGEMENT -->
        <activity
            android:name=".ViewChildrenActivity"
            android:exported="true" />

        <activity
            android:name=".AddChildActivity"
            android:exported="true" />

        <activity
            android:name=".ManageChildActivity"
            android:exported="true" />

        <!-- SHARING MANAGEMENT -->
        <activity
            android:name=".ManageSharingActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseChildForSharingActivity"
            android:exported="true" />
        <activity
            android:name=".InviteProviderActivity"
            android:exported="false" />

        <activity
            android:name=".EnterInviteCodeActivity"
            android:exported="false" />


        <!-- OTHER SCREENS -->
        <activity android:name=".LogMedicineActivity" android:exported="false" />
        <activity android:name=".TechniqueActivity" android:exported="false" />
        <activity android:name=".PrePostCheckActivity" android:exported="false" />

        <!-- MAIN ACTIVITY (if used) -->
        <activity android:name=".MainActivity" android:exported="false" />

    </application>

</manifest>
