<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartAir">
        <activity
            android:name=".ui.parent.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.child.ChildPEFActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.child.ChildTriageActivity"
            android:exported="false"
            android:parentActivityName=".ui.child.ChildPEFActivity" />
        <activity
            android:name=".ui.parent.ParentHomeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" /> <!-- REGISTER -->
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" /> <!-- FORGOT PASSWORD -->
        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:exported="false" /> <!-- HOMEPAGE -->
        <activity
            android:name=".homepages.HomepageActivity"
            android:exported="true" />
        <activity
            android:name=".homepages.HomepageParentsActivity"
            android:exported="true" />
        <activity
            android:name=".homepages.HomepageProvidersActivity"
            android:exported="true" /> <!-- CHILD MANAGEMENT -->
        <activity
            android:name=".child_managent.ViewChildrenActivity"
            android:exported="true" />
        <activity
            android:name=".child_managent.AddChildActivity"
            android:exported="true" />
        <activity
            android:name=".child_managent.ManageChildActivity"
            android:exported="true" />
        <activity android:name=".dashboard.DashboardActivity" /> <!-- SHARING MANAGEMENT -->
        <activity
            android:name=".sharing.ManageSharingActivity"
            android:exported="false" />
        <activity
            android:name=".child_managent.ChooseChildForSharingActivity"
            android:exported="true" /> <!-- OTHER SCREENS -->
        <activity
            android:name=".medicine_logs.LogMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".technique_guidance.TechniqueActivity"
            android:exported="false" />
        <activity
            android:name=".pre_post_checks.PrePostCheckActivity"
            android:exported="false" />
        <activity
            android:name=".sharing.InviteProviderActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity android:name=".badges_system.BadgeActivity" />

        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="false" />
    </application>

</manifest>